/* styles page Events*/
/*arrière-plan nav bar */
.custom-bg-color {
    background-color: #3D348B;
}

/*onglet nav bar */
.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 0.9px;
    font-family: 'work-sans', sans-serif;
    font-weight: bold;
    color: white;
    margin: 0 40px;
}

/*bouton Je soutiens */
.item-soutiens a {
    text-decoration: none;
    font-family: 'work-sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #EB2551;
    padding: 10px;
    border-radius: 20px;
    margin-right: 30px;
}
/*effet survol bouton je soutiens */
.item-soutiens a:hover {
    background-color: white;
    color: #EB2551;
}


/*style pour la section-content */
.content-section {
    background-color: #F7B801;
    padding: 20px;
}

/*style du trait hr*/
hr {
    color: white;
    border: none;
    border-top: 3px solid white;
    width: 300px;
    margin-top: 20px;
}

.barre-content {
    color: #F7B801;
    border: none;
    border-top: 3px solid #EB2551;
    width: auto;
    margin-top: 50px;
}

.content-section h1 {
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    font-family: 'work-sans', sans-serif;
}

.content-section p {
    color: whitesmoke;
    font-size: 16px;
    font-family: 'work-sans', sans-serif;
    text-align: right;
    background-color: #EB2551;
    padding:1px;
    display: inline-block;
    margin-left: 200px;
}

/*styles pour les cartes */
.card-event {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.card-title-event:hover + .card-event-body .card-image img {
    opacity: 0;
}

.card-event-body {
    background-color: #3D348B;
    padding: 15px;
    transition: opacity 0.3s ease-in-out;
}

.card-title-event:hover + .card-event-body {
    opacity: 1;
}